$white: #f5f5f5;
$white-transparent: rgba(#f5f5f5, 0);
$white-half-opacity: rgba(#f5f5f5, 0.5);
$white-light: darken(#f5f5f5, 15%);
$black: #212529;
$black-transparent: rgba(#212529, 0);
$black-half-opacity: rgba(#212529, 0.5);
$black-light: lighten(#212529, 15%);
$orange: #f05f40;
$green: #42b883;
$blue: #007acc;
$polytech_blue: #009fe3;
$acii_blue: #2d9ad5;
$yellow: #c99513;
$red: #c3002f;
$iut_red: #bf1e2e;
$purple: #563d7c;

$--vue-border: --vue-border;
$--vue-background: --vue-background;
$--vuex-border: --vuex-border;
$--vuex-background: --vuex-background;
$--pinia-border: --pinia-border;
$--pinia-background: --pinia-background;
$--vite-border: --vite-border;
$--vite-background: --vite-background;
$--react-border: --react-border;
$--react-background: --react-background;
$--jquery-border: --jquery-border;
$--jquery-background: --jquery-background;
$--p5-border: --p5-border;
$--p5-background: --p5-background;
$--bootstrap-border: --bootstrap-border;
$--bootstrap-background: --bootstrap-background;
$--angular-border: --angular-border;
$--angular-background: --angular-background;
$--java-border: --java-border;
$--java-background: --java-background;
$--js-border: --js-border;
$--js-background: --js-background;
$--ts-border: --ts-border;
$--ts-background: --ts-background;
$--unity-border: --unity-border;
$--unity-background: --unity-background;
$--csharp-border: --csharp-border;
$--csharp-background: --csharp-background;
$--cpp-border: --cpp-border;
$--cpp-background: --cpp-background;
$--agile-border: --agile-border;
$--agile-background: --agile-background;
$--firebase-border: --firebase-border;
$--firebase-background: --firebase-background;
$--html-border: --html-border;
$--html-background: --html-background;
$--css-border: --css-border;
$--css-background: --css-background;
$--flex-border: --flex-border;
$--flex-background: --flex-background;
$--spring-border: --spring-border;
$--spring-background: --spring-background;
$--express-border: --express-border;
$--express-background: --express-background;

$vue-border: $green;
$vue-background: rgba(#35495e, 0.4);
$vuex-border: $green;
$vuex-background: rgba(#35495e, 0.4);
$pinia-border: $yellow;
$pinia-background: rgba(#f7d336, 0.4);
$vite-border: #9499ff;
$vite-background: rgba(#646cff, 0.4);
$react-border: #61dbfb;
$react-background: rgba(#61dbfb, 0.4);
$jquery-border: #78cff5;
$jquery-background: rgba(#0769ad, 0.4);
$p5-border: #ed225d;
$p5-background: rgba(#ed225d, 0.4);
$bootstrap-border: $purple;
$bootstrap-background: rgba($purple, 0.4);
$angular-border: $red;
$angular-background: rgba(#eaeaea, 0.4);
$java-border: #ed8b00;
$java-background: rgba(#007396, 0.4);
$js-border: #f0db4f;
$js-background: rgba(#f0db4f, 0.4);
$ts-border: $blue;
$ts-background: rgba($blue, 0.4);
$unity-border: #959595;
$unity-background: rgba(#626262, 0.4);
$csharp-border: #9b4993;
$csharp-background: rgba(#682876, 0.4);
$cpp-border: #d5e4f3;
$cpp-background: rgba(#044f88, 0.4);
$agile-border: #ff66e5;
$agile-background: rgba(#924073, 0.4);
$firebase-border: #ffcb2b;
$firebase-background: rgba(#f5820d, 0.4);
$html-border: #f06529;
$html-background: rgba(#e34c26, 0.4);
$css-border: #2965f1;
$css-background: rgba(#264de4, 0.4);
$flex-border: #838a9b;
$flex-background: rgba(#838a9b, 0.4);
$spring-border: #6db33f;
$spring-background: rgba(#6db33f, 0.4);
$express-border: #68a063;
$express-background: rgba(#3c873a, 0.4);

$--primary: --primary;
$--secondary: --secondary;
$--tertiary: --tertiary;
$--danger: --danger;
$--surface: --surface;
$--surface-half-opacity: --surface-half-opacity;
$--surface-light: --surface-light;
$--background: --background;
$--background-transparent: --background-transparent;
$--editor: --editor;
$--parallax-height: --parallax-height;

$phone_screen: "(max-width: 800px)";
$not_phone_screen: "screen and (min-width: 800px)";
$medium_screen: "(min-width: 800px) and (max-width: 1096px)";
$large_screen: "(min-width: 1096px)";
$not_large_screen: "(max-width: 1096px)";
