<template>
  <div class="toggleWrapper">
    <input
      id="dn"
      type="checkbox"
      class="dn"
    >
    <label
      for="dn"
      class="toggle"
      @click="emit('switch')"
    >
      <span class="toggle__handler">
        <span class="crater crater--1" />
        <span class="crater crater--2" />
        <span class="crater crater--3" />
      </span>
      <span class="star star--1" />
      <span class="star star--2" />
      <span class="star star--3" />
      <span class="star star--4" />
      <span class="star star--5" />
      <span class="star star--6" />
    </label>
  </div>
</template>

<script setup>
const emit = defineEmits("switch");
</script>

<style lang="scss" scoped>
.toggleWrapper {
  --height: 35px;
  --width: 70px;
  --height-size: 29px;

  overflow: hidden;

  input {
    position: absolute;
    left: -99em;
  }

  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: var(--width);
    height: var(--height);
    background-color: #83d8ff;
    border-radius: 90px - 6;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: var(--height-size);
    height: var(--height-size);
    background-color: #ffcf96;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);

    .crater {
      position: absolute;
      background-color: #e8cda5;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
      border-radius: 100%;
    }

    .crater--1 {
      top: 11px;
      left: 6px;
      width: 4px;
      height: 4px;
    }

    .crater--2 {
      top: 20px;
      left: 15px;
      width: 5px;
      height: 5px;
    }

    .crater--3 {
      top: 7px;
      left: 18px;
      width: 8px;
      height: 8px;
    }
  }

  .star {
    position: absolute;
    background-color: #ffffff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
  }

  .star--1 {
    top: 6px;
    left: 33px;
    z-index: 0;
    width: 30px;
    height: 3px;
  }

  .star--2 {
    top: 13px;
    left: 27px;
    z-index: 1;
    width: 30px;
    height: 3px;
  }

  .star--3 {
    top: 22px;
    left: 38px;
    z-index: 0;
    width: 30px;
    height: 3px;
  }

  .star--4,
  .star--5,
  .star--6 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .star--4 {
    top: 10px;
    left: 9px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
  }

  .star--5 {
    top: 26px;
    left: 15px;
    z-index: 0;
    width: 3px;
    height: 3px;
    transform: translate3d(3px, 0, 0);
  }

  .star--6 {
    top: 30px;
    left: 26px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
  }

  input:not(:checked) {
    + .toggle {
      background-color: #749dd6;

      .toggle__handler {
        background-color: #ffe5b5;
        transform: translate3d(var(--height), 0, 0) rotate(0);

        .crater {
          opacity: 1;
        }
      }

      .star--1 {
        width: 2px;
        height: 2px;
      }

      .star--2 {
        width: 4px;
        height: 4px;
        transform: translate3d(-5px, 0, 0);
      }

      .star--3 {
        width: 2px;
        height: 2px;
        transform: translate3d(-7px, 0, 0);
      }

      .star--4,
      .star--5,
      .star--6 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      .star--4 {
        transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      }
      .star--5 {
        transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      }
      .star--6 {
        transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      }
    }
  }
}
</style>
