<template>
  <div class="locale__container">
    <div
      class="locale__item selected"
      @click="openSelect"
    >
      <img
        :src="selected.uri"
        :alt="selected.alt"
      >
    </div>
    <div class="locale__select">
      <transition-group name="sort">
        <div
          v-for="lang in languages"
          :key="lang.locale"
          class="locale__item"
          @click.stop.passive="onSelect(lang.locale)"
        >
          <img
            :src="lang.uri"
            :alt="lang.alt"
          >
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script setup>
import { computed, ref, onMounted } from "vue";
import { useAppStore } from "@/stores/app.js";

const appStore = useAppStore();
const emit = defineEmits(["select"]);

const language = computed(() => appStore.locale);
const selected = computed(
  () =>
    languages.value.find((l) => l.locale === appStore.locale) ||
    languages.value[0]
);
const languages = ref([
  {
    uri: "https://cdn.countryflags.com/thumbs/france/flag-square-250.png",
    alt: "Français",
    locale: "fr",
  },
  {
    uri: "https://cdn.countryflags.com/thumbs/united-kingdom/flag-square-250.png",
    alt: "English",
    locale: "en",
  },
]);

onMounted(() => {
  selected.value =
    languages.value.find((l) => l.locale === language.value) ||
    languages.value[0];
  setTimeout(() => {
    if (selected.value.locale !== languages.value[0].locale) {
      languages.value = languages.value.reverse();
    }
  }, 250);
});

function onSelect(locale) {
  if (locale !== selected.value.locale) {
    selected.value = languages.value.find((l) => l.locale === locale);
    languages.value = languages.value.reverse();
    emit("select", locale);
  }
}
</script>

<style lang="scss" scoped>
.locale__container {
  position: relative;

  & .locale__item {
    cursor: pointer;
    width: auto;
    height: 2rem;

    &.selected {
      opacity: 1;
      transition: opacity 0s linear 300ms;
    }

    & img {
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
    }
  }

  &:hover .locale__select {
    right: -3rem;
    opacity: 1;
    transition: right 0.25s ease-in;
  }

  &:hover .locale__item.selected {
    opacity: 0;

    transition: opacity 0 linear 300ms;
  }

  & .locale__select {
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;

    display: flex;
    flex-direction: row;
    gap: 1rem;

    overflow: hidden;
    transition: right 0.25s ease-in 0.1s;
  }
}

.sort-move,
.sort-enter-active,
.sort-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.sort-enter-from,
.sort-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

.sort-leave-active {
  position: absolute;
}
</style>
