<template>
  <div class="nc__infos">
    I work at <span>{{ data.company }}</span> since
    <span>{{ data.experience }}</span> as a <span>{{ data.position }}</span>.
  </div>
</template>

<script setup>
const props = defineProps(["data"]);
</script>
