<template>
  <nc-container>
    <template #content>
      <nc-timeline :items="items" />
    </template>
  </nc-container>
</template>

<script setup>
import { computed } from "vue";
import NcTimeline from "@/components/education/NcTimeline.vue";
import { useI18n } from "vue-i18n";

const { t } = useI18n();

const items = computed(() => [
  {
    date: t("experience[0].date"),
    title: t("experience[0].title"),
    content: t("experience[0].content"),
    options: {
      dot: { color: "acii_blue" },
      details: [
        {
          date: t("experience[0].options.details[0].date"),
          title: t("experience[0].options.details[0].title"),
          content: t("experience[0].options.details[0].content"),
          skills: [
            {
              label: "Vue 2",
              class: "vue",
              details: t("experience[0].options.details[0].skills[0].details"),
            },
            {
              label: "Java 8",
              class: "java",
              details: t("experience[0].options.details[0].skills[1].details"),
            },
            {
              label: "Spring",
              class: "spring",
              details: t("experience[0].options.details[0].skills[2].details"),
            },
            {
              label: "Agile",
              class: "agile",
              details: t("experience[0].options.details[0].skills[3].details"),
            },
          ],
        },
        {
          date: t("experience[0].options.details[1].date"),
          title: t("experience[0].options.details[1].title"),
          content: t("experience[0].options.details[1].content"),
          skills: [
            {
              label: "Angular 11",
              class: "angular",
              details: t("experience[0].options.details[1].skills[0].details"),
            },
            {
              label: "Java 15",
              class: "java",
              details: t("experience[0].options.details[1].skills[1].details"),
            },
            {
              label: "Spring",
              class: "spring",
              details: t("experience[0].options.details[1].skills[2].details"),
            },
            {
              label: "Agile",
              class: "agile",
              details: t("experience[0].options.details[1].skills[3].details"),
            },
          ],
        },
      ],
    },
  },
  {
    date: t("experience[1].date"),
    title: t("experience[1].title"),
    content: t("experience[1].content"),
    options: {
      dot: { color: "red" },
      details: [
        {
          content: t("experience[1].options.details[0].content"),
          skills: [
            {
              label: "Angular",
              class: "angular",
              details: t("experience[1].options.details[0].skills[0].details"),
            },
            {
              label: "Java",
              class: "java",
              details: t("experience[1].options.details[0].skills[1].details"),
            },
            {
              label: "Agile",
              class: "agile",
              details: t("experience[1].options.details[0].skills[2].details"),
            },
          ],
        },
      ],
    },
  },
  {
    date: t("experience[2].date"),
    title: t("experience[2].title"),
    content: t("experience[2].content"),
    options: {
      dot: { color: "red" },
      details: [
        {
          content: t("experience[2].options.details[0].content"),
          skills: [
            {
              label: "Flex",
              class: "flex",
              details: t("experience[2].options.details[0].skill[0].details"),
            },
            {
              label: "Java",
              class: "java",
              details: t("experience[2].options.details[0].skill[1].details"),
            },
          ],
        },
      ],
    },
  },
]);
</script>

<style lang="scss" scoped></style>
