<template>
  <nc-container>
    <template #content>
      <div class="projects__container">
        <nc-project-card
          v-for="(projectData, i) in project.projects"
          :key="`project-card-${i}`"
          :project="projectData"
        />
      </div>
      <div
        :class="['other__toggle', { toggled: toggled }]"
        @click="toggleOther"
      >
        <span />
      </div>
      <transition
        name="show"
        mode="out-in"
      >
        <div
          v-if="toggled"
          ref="other" 
          :class="['other__projects', { toggled: toggled }]"
        >
          <div class="other__projects__container">
            <nc-project-card
              v-for="(otherData, i) in project.other"
              :key="`other-project-card-${i}`"
              :project="otherData"
            />
          </div>
        </div>
      </transition>
    </template>
  </nc-container>
</template>

<script setup>
import { ref, computed } from "vue";
import NcProjectCard from "@/components/project/NcProjectCard.vue";

import portfolio from "@/assets/projects/portfolio_logo.png";
import tsp from "@/assets/projects/tsp_logo.png";
import moneybox from "@/assets/projects/moneybox_logo.png";
import hololens from "@/assets/projects/hololens_logo.png";
import mdpa from "@/assets/projects/mdpa_logo.png";
import swallow from "@/assets/projects/swallow_logo.png";
import ajl from "@/assets/projects/ajl_logo.png";
import gitlab from "@/assets/logo/gitlab_logo.png";
import eye from "@/assets/logo/eye.png";

import { useI18n } from "vue-i18n";

const { t, locale } = useI18n();

const project = computed(() => ({
  projects: [
    {
      image: { src: mdpa, alt: t("projects[0].image.alt") },
      title: t("projects[0].title"),
      description: t("projects[0].description"),
      tags: [
        {
          label: "Vue 2",
          class: "vue",
          details: t("projects[0].tags[0].details"),
        },
        {
          label: "Ts",
          class: "ts",
          details: t("projects[0].tags[1].details"),
        },
        {
          label: "VueX",
          class: "vuex",
          details: t("projects[0].tags[2].details"),
        },
        {
          label: "Java",
          class: "java",
          details: t("projects[0].tags[3].details"),
        },
      ],
      links: [],
    },
    {
      image: { src: portfolio, alt: t("projects[1].image.alt") },
      title: t("projects[1].title"),
      description: t("projects[1].description"),
      tags: [
        {
          label: "Vue 3",
          class: "vue",
          details: t("projects[1].tags[0].details"),
        },
        {
          label: "Vite",
          class: "vite",
          details: t("projects[1].tags[1].details"),
        },
        {
          label: "Pinia",
          class: "pinia",
          details: t("projects[1].tags[2].details"),
        },
        {
          label: "Express",
          class: "express",
          details: t("projects[1].tags[3].details"),
        },
      ],
      links: [
        {
          to: "https://gitlab.com/nath7098/personnal-website",
          image: { src: gitlab, alt: "Gitlab" },
        },
      ],
    },
    {
      image: { src: tsp, alt: t("projects[2].image.alt") },
      title: t("projects[2].title"),
      description: t("projects[2].description"),
      tags: [
        {
          label: "JQuery",
          class: "jquery",
          details: t("projects[2].tags[0].details"),
        },
        {
          label: "p5",
          class: "p5",
          details: t("projects[2].tags[1].details"),
        },
        {
          label: "Bootstrap",
          class: "bootstrap",
          details: t("projects[2].tags[2].details"),
        },
      ],
      links: [
        {
          to: "https://gitlab.com/nath7098/projet-libre",
          image: { src: gitlab, alt: "Gitlab" },
        },
        {
          to: "https://nath7098.gitlab.io/projet-libre/html/",
          image: { src: eye, alt: "See", class: "eye" },
        },
      ],
    },
    {
      image: { src: hololens, alt: t("projects[3].image.alt") },
      title: t("projects[3].title"),
      description: t("projects[3].description"),
      tags: [
        {
          label: "Unity",
          class: "unity",
          details: t("projects[3].tags[0].details"),
        },
        {
          label: "C#",
          class: "csharp",
          details: t("projects[3].tags[1].details"),
        },
        {
          label: "C++",
          class: "cpp",
          details: t("projects[3].tags[2].details"),
        },
      ],
      links: [
        {
          to: "https://gitlab.com/nath7098/hololenscamerastreamtopointcloud",
          image: { src: gitlab, alt: "Gitlab" },
        },
        {
          to: "https://hololens.nathancouton.fr",
          image: { src: eye, alt: "See", class: "eye" },
        },
      ],
    },
  ],
  other: [
    {
      image: { src: moneybox, alt: t("other[0].image.alt") },
      title: t("other[0].title"),
      description: t("other[0].description"),
      tags: [
        {
          label: "Angular",
          class: "angular",
          details: t("other[0].tags[0].details"),
        },
        {
          label: "Java",
          class: "java",
          details: t("other[0].tags[1].details"),
        },
        {
          label: "Bootstrap",
          class: "bootstrap",
          details: t("other[0].tags[2].details"),
        },
        {
          label: "Agile",
          class: "agile",
          details: t("other[0].tags[3].details"),
        },
      ],
      links: [],
    },
    {
      image: { src: swallow, alt: t("other[1].image.alt") },
      title: t("other[1].title"),
      description: t("other[1].description"),
      tags: [
        {
          label: "Android",
          class: "vue",
          details: t("other[1].tags[0].details"),
        },
        {
          label: "Java",
          class: "java",
          details: t("other[1].tags[1].details"),
        },
      ],
      links: [
        {
          to: "https://projetsi.nathancouton.fr",
          image: { src: eye, alt: "Eye" },
        },
      ],
    },
    {
      image: { src: portfolio, alt: t("other[2].image.alt") },
      title: t("other[2].title"),
      description: t("other[2].description"),
      tags: [
        {
          label: "Html",
          class: "html",
          details: t("other[2].tags[0].details"),
        },
        {
          label: "Css",
          class: "css",
          details: t("other[2].tags[1].details"),
        },
        {
          label: "Js",
          class: "js",
          details: t("other[2].tags[2].details"),
        },
        {
          label: "JQuery",
          class: "jquery",
          details: t("other[2].tags[3].details"),
        },
        {
          label: "Bootstrap",
          class: "bootstrap",
          details: t("other[2].tags[4].details"),
        },
      ],
      links: [
        {
          to: `https://ancien-${locale.value}.nathancouton.fr`,
          image: { src: eye, alt: "See", class: "eye" },
        },
      ],
    },
    {
      image: { src: ajl, alt: t("other[3].image.alt") },
      title: t("other[3].title"),
      description: t("other[3].description"),
      tags: [
        {
          label: "React",
          class: "react",
          details: t("other[3].tags[0].details"),
        },
        {
          label: "Firebase",
          class: "firebase",
          details: t("other[3].tags[1].details"),
        },
        {
          label: "Bootstrap",
          class: "bootstrap",
          details: t("other[3].tags[2].details"),
        },
      ],
      links: [
        {
          to: "https://ajlnettoyage.com",
          image: { src: eye, alt: "see", class: "Eye" },
        },
      ],
    },
  ],
}));

let toggled = ref(false);
const other = ref(null);

function toggleOther() {
  toggled.value = !toggled.value;
  if (toggled.value) {
    setTimeout(() => {
      other.value.focus();
      other.value.scrollIntoView({ behavior: "smooth", top: 0 });
    }, 300);
  }
}
</script>

<style lang="scss" scoped>
.projects__container,
.other__projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  // grid-gap: 1.5rem;
  gap: 8rem;
  justify-content: center;
}

.other__projects {
  margin-top: 4rem;
}

.other__toggle {
  cursor: pointer;

  margin-top: 5rem;
  // text-align: center;
  display: flex;
  justify-content: center;
  background-color: var(--background);

  position: relative;
  z-index: 1;

  & span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: var(--background);
    padding: 0 2.5rem;
    margin-left: 10px;
  }

  &::before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 33%;
    right: 33%;

    @media #{$phone_screen} {
      left: 28%;
      right: 28%;
    }
    bottom: 0;
    z-index: -1;

    height: 0;

    transition: left 0.2s ease-out, right 0.2s ease-out;
  }

  &::after {
    content: "";
    position: relative;
    top: 0;
    right: 2.75rem;

    border: solid var(--surface);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);

    transition: top 0.2s ease-out;
  }

  &.toggled {
    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
    &:hover::after {
      top: -0.75rem;
    }
  }

  @media #{$not_phone_screen} {
    &:hover::before {
      left: 27.5%;
      right: 27.5%;
    }

    &:hover::after {
      top: 1.5rem;
    }
  }
}

@media #{$phone_screen} {
  .projects__container,
  .other__projects__container {
    padding: 0 10rem;
  }
}

.show-enter-active,
.show-leave-active {
  transition: opacity 0.25s ease;
}

.show-enter-from,
.show-leave-to {
  opacity: 0;
}
</style>
