<template>
  <VueFinalModal
    class="modal__container"
    :content-class="['modal__content', ...contentClass]"
    overlay-transition="vfm-fade"
    content-transition="vfm-fade"
  >
    <div class="modal__content--container">
      <div
        :class="['modal__title', ...titleClass]"
        :style="`color: var(--${titleColor}-border);`"
      >
        {{ title }}
      </div>
      <slot />
    </div>
    <div class="modal__footer">
      <button
        class="modal__confirm"
        @click="emit('confirm')"
      >
        {{ confirm.title }}
      </button>
    </div>
  </VueFinalModal>
</template>

<script setup>
import { ref } from "vue";
import { VueFinalModal } from "vue-final-modal";

const props = defineProps({
  title: String,
  description: String,
  confirm: { title: String },
  contentClass: [String, Object],
  titleClass: [String, Object],
  titleColor: String,
});
const emit = defineEmits(["confirm"]);
</script>

<style lang="scss">
.modal {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    &.md {
      max-width: 33vw;
    }

    &--container {
      display: flex;
      flex-direction: column;
      margin: 0 4rem 2rem 1rem;
    }
    padding: 1rem;

    background-color: var(--background);
    border: 1px solid var(--background);
    border-radius: 15px;

    color: var(--surface);
  }
  &__title {
    font-size: 1.1rem;
    margin-bottom: 2rem;

    &.tag {
      color: var(--modal-title-color);
      // color: var(--vue-border);
    }
  }
  &__confirm {
    cursor: pointer;
    margin: 0.25rem 0 0 auto;
    padding: 4px 8px;
    border: 1px solid transparent;
    border-radius: 0.5rem;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
  }
}

// .modal__content > * + * {
//   margin: 0.5rem 0;
// }
</style>
