<template>
  <span
    :class="['tag', tag.class]" 
    :style="tagStyle"
    @click.stop="hasContent && open()"
  >{{ tag.label }}
  </span>
</template>

<script setup>
import { ref, reactive, computed } from "vue";
import NcModal from "@/components/NcModal.vue";
import { useModal } from "vue-final-modal";

const props = defineProps({ tag: {} });

const emit = defineEmits(["click"]);

const hasContent = computed(() => {
  return props.tag.details !== undefined && props.tag.details !== "";
});

const tagStyle = reactive({
  "--border-color": `var(--${props.tag.class}-border)`,
  "--background-color": `var(--${props.tag.class}-background)`,
});

const { open, close } = useModal({
  component: NcModal,
  attrs: {
    title: props.tag.label,
    confirm: { title: "OK" },
    contentClass: ["md"],
    titleClass: ["tag"],
    titleColor: props.tag.class,
    onConfirm() {
      close();
    },
  },
  slots: {
    default: `<div>${props.tag.details}</div>`,
  },
});
</script>

<style lang="scss" scoped>
.tag {
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.2rem 0.5rem 0.3rem 0.5rem;
  border-radius: 20px;
  font-size: 0.75rem;

  border: 2px solid var(--border-color);

  &:hover {
    background-color: var(--background-color);
  }
}
</style>
