<template>
  <div class="skill">
    <div class="skill__container">
      <div class="skill__container-title">
        {{ data.title }}
      </div>
      <div
        v-for="(icon, i) in data.icons"
        :key="`${data.class}-${icon.icon}`"
        :class="[
          'skill__container-skill',
          data.class,
          { selected: icon.selected },
        ]"
        :style="[iconPosition(i), transformIcons()]"
        @click="reorder(i)"
      >
        <div
          v-if="isDevicon(icon.icon)"
          class="devicon"
        >
          <i :class="icon.icon" />
        </div>
        <font-awesome-icon
          v-else-if="isFontawesome(icon.icon)"
          :icon="`fa-brands ${icon.icon}`"
        />
      </div>
    </div>
    <div class="skill__details">
      <div class="skill__details-title">
        {{ selectedIcon.name }}
      </div>
      <div class="skill__details-exp">
        {{ $t("skills.experience") }} :
        {{ $t("skills.exp", selectedIcon.details.exp) }}
      </div>
      <div :class="['skill__details-level', data.class]">
        <div
          class="skill__details-level-value"
          :style="[getLevelWidth(selectedIcon.details.level)]"
        />
      </div>
    </div>
  </div>
</template>
<script setup>
import { computed, onMounted, ref } from "vue";

const props = defineProps({ data: {} });

const selectedIcon = computed(() => {
  return props.data.icons.filter((i) => i.selected)[0];
});

const selectedIndex = computed(() => {
  return props.data.icons.findIndex((i) => i.selected);
});

const count = computed(() => {
  return props.data.icons.length;
});

const sumAngle = ref(0);
const delta = ref(0);

onMounted(() => {
  sumAngle.value = (360 / count.value) * selectedIndex.value;
});

function isDevicon(icon) {
  return icon.includes("devicon");
}

function isFontawesome(icon) {
  return icon.includes("fa-");
}

function getLevelWidth(value) {
  return `width: ${(value / 5) * 100}%;`;
}

function iconPosition(i) {
  const initialAngle = 90; // Starting angle (bottom of the circle)
  const angle = 360 - (360 / count.value) * i + initialAngle + sumAngle.value; // Calculate the angle for each icon
  const translateX = 10; // Distance from the center of the circle

  // Apply the rotation and translation
  return `transform: rotate(${angle}deg) translateX(${translateX}rem) rotate(-${angle}deg);`;
}

function transformIcons() {
  const duration = delta.value * 0.25;
  return `transition: transform ${duration}s ease-out`;
}

function reorder(index) {
  const prevIndex = selectedIndex.value;
  props.data.icons.forEach((icon, i) => {
    icon.selected = i === index;
  });
  delta.value =
    index - prevIndex < 0 ? count.value + index - prevIndex : index - prevIndex;
  sumAngle.value += (360 / count.value) * delta.value;
}
</script>
<style lang="scss" scoped>
.skill {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 20rem;
}
.skill__container {
  position: relative;
  display: inline-block;
  // border: 2px solid var(--surface);
  border-radius: 50%;
  width: 20rem;
  height: 20rem;

  &-title {
    // display: block;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 20rem;
    vertical-align: middle;
  }

  &-skill {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2rem);

    font-size: 3em;
    padding: 0.5rem;
    background-color: var(--background);

    transition: color 0.1s ease-out;

    @media #{$not_phone_screen} {
      &.front:hover {
        color: var(--secondary);
      }
      &.back:hover {
        color: var(--primary);
      }
      &.tools:hover {
        color: var(--tertiary);
      }
      &.database:hover {
        color: var(--danger);
      }
    }

    &.front.selected {
      color: var(--secondary);
    }
    &.back.selected {
      color: var(--primary);
    }
    &.tools.selected {
      color: var(--tertiary);
    }
    &.database.selected {
      color: var(--danger);
    }
  }
}
.skill__details {
  &-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
  }

  &-level {
    margin-top: 0.5rem;
    width: 100%;
    background-color: var(--background);

    &.front {
      border: 2px solid var(--secondary);
    }
    &.front &-value {
      background-color: var(--secondary);
    }
    &.back {
      border: 2px solid var(--primary);
    }
    &.back &-value {
      background-color: var(--primary);
    }
    &.tools {
      border: 2px solid var(--tertiary);
    }
    &.tools &-value {
      background-color: var(--tertiary);
    }
    &.database {
      border: 2px solid var(--danger);
    }
    &.database &-value {
      background-color: var(--danger);
    }

    &-value {
      display: block;
      height: 1.5rem;
      // text-indent: 15px;

      transition: width 0.5s ease-in;
    }
  }
}

.devicon {
  &-typescript-plain {
    font-size: 2.75rem;
  }
}
</style>
